.search-bar {
    width: 300px;
    display: block;
    margin: auto;
    color: var(--font-color);
    position: relative;
}

.search-field {
    width: 100%;
    border: var(--border);
    padding: .5rem 1rem;
    display: inline;
    transition: .5s;
}

.search-field:focus {
    outline: none;
}

.search-toggle {
    position: absolute;
    top: 7px;
    right: 0;
    height: 22px;
    width: 40px;
    border-left: var(--border);
}

.arrow {
    position: absolute;
    top: 8px;
    right: 13px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid grey;
    transition: .5s;
}

.arrow-active {
    transform: rotate(180deg);
}

.search-items {
    width: 100%;
    border: var(--border);
    border-top: none;
    height: 412px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.item {
    width: 100%;
    text-align: left;
    padding: .3rem 0rem .3rem 0rem;
}

.high-level {
    cursor: default;
}

.bot-level {
    cursor: pointer;
}

.bot-level:hover {
    background-color: var(--highlight-color)
}

.cancel {
    position: absolute;
    top: .5rem;
    right: 50px;
    color: grey;
    font-size: 1.2rem;
    cursor: pointer;
}