.search-bar {
    width: 300px;
    display: block;
    margin: auto;
}

.search-field {
    width: 100%;
    border: var(--border);
    border-bottom: none;
    padding: .5rem 1rem;
}

.search-field:focus {
    outline: none;
}

.search-items {
    width: 100%;
    border: var(--border);
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.item {
    width: 100%;
    text-align: left;
    padding: .3rem 0rem .3rem 0rem;
}

.high-level {
    cursor: default;
}

.bot-level {
    cursor: pointer;
}

.bot-level:hover {
    background-color: var(--highlight-color)
}